@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&family=Lora:ital,wght@0,500;1,400&family=Mochiy+Pop+P+One&family=Montserrat:wght@200&family=Oswald:wght@200;300;400;500;700&family=Quicksand&family=Roboto:wght@100&family=Source+Sans+Pro&display=swap');

.fuentePrincipal{
	font-family: oswald;
}
body{
	background-color: #363736;
}

/*----------------------NavBar-------------------------------------------
-----------------------------------------------------------------------*/
.logo{
	height: 70px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.container-fluid{
	background-image: linear-gradient(#032C55,black);
}
.navbar__titulo{
	color: white;
}